
.icon-cancel:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-home:before { content: '\e802'; } /* '' */
.icon-plus:before { content: '\e803'; } /* '' */
.icon-minus:before { content: '\e804'; } /* '' */
.icon-droplet:before { content: '\e805'; } /* '' */
.icon-th-list:before { content: '\e806'; } /* '' */
.icon-th-large:before { content: '\e807'; } /* '' */
.icon-globe:before { content: '\e808'; } /* '' */
.icon-location:before { content: '\e809'; } /* '' */
.icon-tw:before { content: '\f099'; } /* '' */
.icon-fb:before { content: '\f09a'; } /* '' */
.icon-resize-full-alt:before { content: '\f0b2'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-ig:before { content: '\f16d'; } /* '' */
.icon-codeopen:before { content: '\f1cb'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-wa:before { content: '\f232'; } /* '' */
.icon-bed:before { content: '\f236'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */