.filter {
	padding-top: rem(13px);
	&-form{
		border: 1px solid #ddd;
		padding: rem(8px);
		margin-bottom: rem(16px);
	}
	.vue-treeselect__control,
	.form-control {
		border: 1px solid #ddd;
		border-radius: 0 !important;
		&:focus {
			outline: none;
		}
	}
	.btn-filter {
		border-radius: 0 !important;
		background-color: #414141;
		color: #fff;
	}
	&-title {
		@include jano_regular;
		text-align: right;
		color: #d0d0d0;
		font-size: rem(18px);
	}
}
