.footer {
	background-color: #000;
	min-height: rem(332px);
	padding-top: rem(24px);
	padding-bottom: rem(24px);
	@include media-breakpoint-up(lg) {
		padding-top: rem(12px);
		padding-bottom: rem(12px);
	}
	.links {
		margin-bottom: rem(16px);
		.link {
			color: #fff;
			@include jano_regularitalic;
			font-size: rem(14px);
			line-height: rem(14px);
			margin-bottom: rem(8px);
			display: inline-block;
			@include media-breakpoint-up(md) {
				margin-bottom: rem(12px);
				white-space: nowrap;
			}
		}
	}
	.newsletter {
		color: #fff;
		h4 {
			font-size: rem(20px);
			@include jano_regular;
		}
		button {
			background-color: #fff;
			color: #000;
		}
		select,
		input {
			color: #fff;
			background-color: #b93536;
			&::placeholder {
				color: #fff;
			}
		}
		button,
		select,
		input {
			border-radius: 0;
			border: none;
		}
	}
	.tels {
		margin-bottom: rem(16px);
		font-size: rem(13px);
		white-space: nowrap;
		a {
			color: #fff;
		}
		b{
			font-size: rem(18px);
		}
	}
	&-dnx {
		font-size: rem(12px);
		color: #fff;
		background-color: #b93536;
		@include media-breakpoint-down(sm) {
			text-align: center;
			padding-bottom: rem(8px);
			padding-top: rem(8px);
		}
		@include media-breakpoint-up(sm) {
			height: 38px;
		}
	}
}
