.searcher {
	border: 1px solid #ddd;
	padding: rem(8px);
	margin-bottom: rem(16px);
	.vue-treeselect__control,
	.form-control{
		border: 1px solid #ddd;
		border-radius: 0 !important;
		&:focus{
			outline: none;
		}
	}
	.btn-searcher{
		border-radius: 0 !important;
		background-color: #414141;
		color: #FFF;
	}
	&-title{
		@include jano_regular;
		text-align: right;
		color: #434343;
		font-size: rem(18px);
	}
}