.title {
	position: relative;
	@include jano_light;
	padding-left: rem(16px);
	margin-bottom: rem(32px);
	&:before {
		height: rem(20px);
		left: 0;
		top: rem(8px);
		content: ' ';
		display: block;
		position: absolute;
		width: rem(8px);
		background-color: #b93536;
	}
	b {
		color: #b93536;
		@include jano_black;
	}
}
