extends ../index.pug


block content
	include ../includes/navbar.pug
	#slide-header
	header.header
		.container-xl
			h1.title PROPIEDADES EN #[b VENTA]
			p Estos son nuestros inmuebles en Venta. Si Usted no encuentra lo que está  buscando, no olvide activar una alerta con su e-mail al final del listado y le informaremos cuando ingresen nuevos inmuebles.
	.container-xl
		#search
			
	include ../includes/footer.pug
