<div class="footer d-md-flex align-items-center">
	<div class="container-xl">
		<div class="row">
			<div class="col-12 col-lg-6">
				<div class="row links justify-content-center justify-content-md-between">
					<ul class="list-unstyled col-12 col-md-auto col-lg-4 m-0">
						<li><a class="link" href="#">01. Nosotros</a></li>
						<li><a class="link" href="#">02. Sistema Desarrollos</a></li>
						<li><a class="link" href="#">03. Desarrolos Terminados</a></li>
						<li><a class="link" href="#">04. Desarrollos en Curso</a></li>
					</ul>
					<ul class="list-unstyled col-12 col-md-auto col-lg-4 m-0">
						<li><a class="link" href="#">05. Compra/Venta · Alquiler</a></li>
						<li><a class="link" href="#">06. Tasaciones</a></li>
						<li><a class="link" href="#">07. Contacto</a></li>
					</ul>
					<ul class="list-unstyled col-12 col-md-auto col-lg-4 m-0">
						<li><a class="link" href="#">08. Instagram</a></li>
						<li><a class="link" href="#">09. Facebook</a></li>
						<li><a class="link" href="#">10. Twitter</a></li>
						<li><a class="link" href="#">11. Youtube</a></li>
					</ul>
				</div>
			</div>
			<div class="col-12 col-lg-6 d-flex align-items-center justify-content-center">
				<div>
					<div class="newsletter">
						<h4>SUSCRIPCIÓN <b>NEWSLETTER</b></h4>
						<form class="form-row">
							<div class="col-6 col-sm-4 form-group mb-2">
								<input class="form-control" type="text" placeholder="City">
							</div>
							<div class="col-6 col-sm-4 form-group mb-2">
								<select class="form-control">
									<option value="">1</option>
									<option value="">2</option>
									<option value="">3</option>
								</select>
							</div>
							<div class="col-8 form-group mb-2">
								<input class="form-control" type="text" placeholder="Zip">
							</div>
							<div class="col form-group mb-2">
								<button class="btn btn-primary btn-block" type="submit">Enviar</button>
							</div>
						</form>
					</div>
					<div class="row">
						<div class="col-sm-6 tels"><a class="d-block" href="#"><b>(0223) 493 8863</b> // CORDOBA 2041</a><a class="d-block" href="#"><b>(0223) 451 1203</b> // SAN LORENZO 1696   </a></div>
						<div class="col-sm-6 logo text-center text-sm-right py-2">
							img(src=require("@/images/logo-footer.png"))
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="footer-dnx">
	<div class="container-xl d-sm-flex justify-content-between align-items-center h-100">
		<span class="d-block">© 2020 Espatolero y Lorenzo.  |  E&L Todos los derecho Reservados.</span>
		<a href="http://www.dinamixstudio.com/" target="_blank">
			img(src=require("@/images/dinamix.png"))
		</a>
	</div>
</div>