<div class="home-badges">
	<div class="container-lg">
		<div class="d-flex flex-wrap justify-content-center">
			<div class="home-badge">
				img(src=require("@/images/icono_01.jpg") alt="")
				<span class="home-badge-title">500 </span><small>Departamentos entregados</small>
			</div>
			<div class="home-badge">
				img(src=require("@/images/icono_02.jpg") alt="")
				<span class="home-badge-title">Buscador </span><small>de propiedades</small>
			</div>
			<div class="home-badge">
				img(src=require("@/images/icono_03.jpg") alt="")
				<span class="home-badge-title">Contacto </span><small>Linea directa 24hs</small>
			</div>
			<div class="home-badge">
				img(src=require("@/images/icono_04.jpg") alt="")
				<span class="home-badge-title">Download </span><small>Brochure E&L</small>
			</div>
		</div>
	</div>
</div>